$first-color: #9356DC;
$second_color: #FF79DA;
$third_color: #99E2D0;
$gray: hsla(0, 0%, 92%, 1);
$light-gray: hsla(0, 0%, 97%, 1);
$gradient: linear-gradient( to top, $first-color -11.44%, $second_color 123.93%);

@mixin text-center{
    text-align: center;
}

@mixin shadow{
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

@mixin button{
    padding: 1rem 0;
    width: 220px;
    border: none;
    border-radius: 9999px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background: $gradient;
}

@mixin flex-align{
    display: flex;
    align-items: center;
}

@keyframes text-slide{
    0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

button:hover{
    opacity: 0.8; 
}

button{
    cursor: pointer;
}

.button_span{
    display: inline-block; /* indispensable pour que transform fonctionne */
}

button:hover .button_span {
    animation: text-slide 0.2s ease;
}

html{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: grid;
    grid-template-columns: 80px auto 80px;

    &__logo{
        width: 180px;
        margin: 1.5rem auto 1rem;
    }

    &__link{
        @include flex-align;
        justify-content: center;
        text-decoration: none;
    }
}

.main{
    &__image{
        width: 100%;
        object-fit: cover;
        height: 250px;
    }

    &__background-wrapper{
        background: $light-gray;
        max-width: 1000px;
        margin: auto;
    }
}

.section{
    background: $light-gray;
    transform: translatey(-3rem);
    border-radius: 2rem 2rem 0 0;
    padding: 1.5rem 0.5rem 0 0.5rem;

    @media screen and (min-width:750px) {
        max-width: 1000px;
        margin: auto;
    }
    
    .command_button_container{
        @include text-center;
        padding-top: 1rem;
        
        button{
            @include button;
            margin: 1rem 0;
            position: relative;
            transition: opacity 0.3s ease-in-out;
        }
    }    

    &__title-wrapper{
        display: grid;
        grid-template-columns: auto 50px;
        border-radius: 2rem 2rem 0 0;
        align-items: center;

    @media screen and (min-width:750px){
        display: flex;
        justify-content: center;
        gap: 2rem;
        }    
    }    

    &__title{
        font-family: "Shrikhand";
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 1.8rem;
    }

    &__title-icon{
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
    } 
}

.section__title-icon:hover{
    color: #9356DC;
}

.article{
     margin: 1.5rem 0;

    @media screen and (min-width:750px) {
        max-width: 600px;
        margin: 2rem auto;
    }
    
    &__title{
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
    }
        
    &__title-underline{
        height: 3px;
        width: 40px;
        background: $third_color;
        margin-top: 0.3rem;
    }

    &__list{
        padding: 0;
    }

    &__item{
        background: white;
        border-radius: 0.7rem;
        margin: 1rem 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        @include shadow;
    }

    &__span{
        width: 0;
        overflow: hidden;
        transition: width 0.3s ease-in-out;

        &-icon{
            align-self: center;
            color: white;
            font-size: 1.4rem;
            background-color: $third_color;
            display: none;
            padding: 1.5rem 1rem;
            border-radius: 0 0.7rem 0.7rem 0;              
        }
    }
    
    &__content-wrapper{
        flex: 1;                    
        min-width: 0;                /* Sans ça le texte ne se coupe pas */
        padding: 0.8rem;
    }

    &__content-title{
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
    }

    &__content-text{
        font-size: 0.95rem;
    }

    &__content-title, &__content-text{
        white-space: nowrap;        /* Empêche le retour à la ligne */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 1rem 0.8rem 0;
    }
}

.article__item:hover .article__span{
    width: 54px;
}

.footer{
    background-color: darken($gray, $amount: 70%);
    padding: 1.5rem;
    font-weight: 400;
    
    &__logo{
        filter: brightness(100);
        width: 100px;
    }

    &__nav{
        margin-top: 0.5rem;
    }
        
    &__list{
        list-style-type: none;
        padding: 0;

        @media screen and (min-width:750px){
            padding: 0;     
            display: flex;
            gap: 1rem; 
        }
    }

    &__item{
        @include flex-align;
        padding: 0.25rem 0;

        @media screen and (min-width:750px){
            padding: 0;
        }
    }
    
    &__icon{
        width: 20px;
        font-size: 0.7rem;
        color: #ffffff;
    }

    &__link{
        color: white;
        text-decoration: none;
    }

    @media screen and (min-width:750px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 1rem;
        padding: 4rem 1.5rem 1.5rem 1.5rem;
    }
}