@charset "UTF-8";
@keyframes text-slide {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
button:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

.button_span {
  display: inline-block; /* indispensable pour que transform fonctionne */
}

button:hover .button_span {
  animation: text-slide 0.2s ease;
}

html {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 80px auto 80px;
}
.header__logo {
  width: 180px;
  margin: 1.5rem auto 1rem;
}
.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}
.main__background-wrapper {
  background: hsl(0, 0%, 97%);
  max-width: 1000px;
  margin: auto;
}

.section {
  background: hsl(0, 0%, 97%);
  transform: translatey(-3rem);
  border-radius: 2rem 2rem 0 0;
  padding: 1.5rem 0.5rem 0 0.5rem;
}
@media screen and (min-width: 750px) {
  .section {
    max-width: 1000px;
    margin: auto;
  }
}
.section .command_button_container {
  text-align: center;
  padding-top: 1rem;
}
.section .command_button_container button {
  padding: 1rem 0;
  width: 220px;
  border: none;
  border-radius: 9999px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 1rem 0;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}
.section__title-wrapper {
  display: grid;
  grid-template-columns: auto 50px;
  border-radius: 2rem 2rem 0 0;
  align-items: center;
}
@media screen and (min-width: 750px) {
  .section__title-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
.section__title {
  font-family: "Shrikhand";
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
}
.section__title-icon {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  position: relative;
}
.section__title-icon img {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.section__title-icon:hover {
  visibility: hidden;
}

.section__title-icon:hover img {
  visibility: visible;
}

.article {
  margin: 1.5rem 0;
}
@media screen and (min-width: 750px) {
  .article {
    max-width: 600px;
    margin: 2rem auto;
  }
}
.article__title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.article__title-underline {
  height: 3px;
  width: 40px;
  background: #99E2D0;
  margin-top: 0.3rem;
}
.article__list {
  padding: 0;
}
.article__item {
  background: white;
  border-radius: 0.7rem;
  margin: 1rem 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
.article__span {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}
.article__span-icon {
  align-self: center;
  color: white;
  font-size: 1.4rem;
  background-color: #99E2D0;
  display: none;
  padding: 1.5rem 1rem;
  border-radius: 0 0.7rem 0.7rem 0;
}
.article__content-wrapper {
  flex: 1;
  min-width: 0; /* Sans ça le texte ne se coupe pas */
  padding: 0.8rem;
}
.article__content-title {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
.article__content-text {
  font-size: 0.95rem;
}
.article__content-title, .article__content-text {
  white-space: nowrap; /* Empêche le retour à la ligne */
  overflow: hidden;
  text-overflow: ellipsis;
}
.article__price {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 1rem 0.8rem 0;
}

.article__item:hover .article__span {
  width: 54px;
}

.footer {
  background-color: #383838;
  padding: 1.5rem;
  font-weight: 400;
}
.footer__logo {
  filter: brightness(100);
  width: 100px;
}
.footer__nav {
  margin-top: 0.5rem;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 750px) {
  .footer__list {
    padding: 0;
    display: flex;
    gap: 1rem;
  }
}
.footer__item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}
@media screen and (min-width: 750px) {
  .footer__item {
    padding: 0;
  }
}
.footer__icon {
  width: 20px;
  font-size: 0.7rem;
  color: #ffffff;
}
.footer__link {
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 1rem;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
  }
}/*# sourceMappingURL=menu-style.css.map */