@keyframes loader-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes show-off {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes text-slide {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes bounce {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-2rem);
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes loader {
  0% {
    transform: translateY(-10rem);
  }
  20% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10rem);
  }
}
@keyframes assiette {
  0% {
    transform: translateY(-100rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fourchette {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes couteau {
  0% {
    transform: translateX(100rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes little_bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
html {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
}

* {
  margin: 0;
  box-sizing: border-box;
}

section {
  padding: 2rem 1rem;
}
section a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

button {
  cursor: pointer;
}

.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  animation: loader-off 0.1s forwards;
  animation-delay: 5s;
}
.loader_container .loader1 {
  display: flex;
  font-size: 3rem;
  font-family: "Shrikhand";
  padding: 0.5rem;
  overflow: hidden;
}
.loader_container .loader1 div:nth-child(1) {
  transform: translateY(-10rem);
  animation: loader 5s ease-in-out;
  animation-delay: 0s;
}
.loader_container .loader1 div:nth-child(2) {
  transform: translateY(-10rem);
  animation: loader 4.8s ease-in-out;
  animation-delay: 0.2s;
}
.loader_container .loader1 div:nth-child(3) {
  transform: translateY(-10rem);
  animation: loader 4.6s ease-in-out;
  animation-delay: 0.4s;
}
.loader_container .loader1 div:nth-child(4) {
  transform: translateY(-10rem);
  animation: loader 4.4s ease-in-out;
  animation-delay: 0.6s;
}
.loader_container .loader1 div:nth-child(5) {
  transform: translateY(-10rem);
  animation: loader 4.2s ease-in-out;
  animation-delay: 0.8s;
}
.loader_container .loader1 div:nth-child(6) {
  transform: translateY(-10rem);
  animation: loader 4s ease-in-out;
  animation-delay: 1s;
}
.loader_container .loader1 div:nth-child(7) {
  transform: translateY(-10rem);
  animation: loader 3.8s ease-in-out;
  animation-delay: 1.2s;
}
.loader_container .loader1 div:nth-child(8) {
  transform: translateY(-10rem);
  animation: loader 3.6s ease-in-out;
  animation-delay: 1.4s;
}
.loader_container .loader2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  max-width: 500px;
}
.loader_container .loader2 img {
  width: 100%;
}
.loader_container .loader2 .icon1 {
  animation: bounce 1.5s ease-in-out;
  animation-iteration-count: infinite;
}
.loader_container .loader2 .icon2 {
  animation: bounce 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}
.loader_container .loader2 .icon3 {
  animation: bounce 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}
.loader_container .loader2 .icon4 {
  animation: bounce 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.9s;
}
.loader_container .loader2 .icon5 {
  animation: bounce 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
}
.loader_container .loader3 img {
  width: 70px;
}
.loader_container .loader3 .assiette {
  animation: assiette 1.5s ease-in-out, rotate 1s 1.5s infinite;
}
.loader_container .loader3 .fourchette {
  animation: fourchette 2s ease-in-out, little_bounce 1s ease 2s infinite;
}
.loader_container .loader3 .couteau {
  animation: couteau 2s ease-in-out, little_bounce 1s ease 2.2s infinite;
}

.header {
  text-align: center;
}
.header__logo {
  width: 170px;
  margin: 1.5rem auto 1rem;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 92%);
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  box-shadow: inset 0 0.7rem 0.7rem -1rem rgba(0, 0, 0, 0.5);
}
.header__search-input {
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
  font-weight: 600;
  width: 150px;
  text-align: center;
}
.header__search-input::-moz-placeholder {
  color: black;
}
.header__search-input::placeholder {
  color: black;
}
@media screen and (min-width: 750px) {
  .header__search {
    box-shadow: none;
  }
}

.intro {
  text-align: center;
  background: hsl(0, 0%, 97%);
  box-shadow: inset 0 1rem 1rem -1rem rgba(0, 0, 0, 0.6);
}
.intro__title {
  padding: 0 2.5rem;
  font-size: 1.5rem;
}
.intro__text {
  margin: 1rem 0;
  padding: 0 1rem;
}
.intro__button {
  padding: 1rem 0;
  width: 220px;
  border: none;
  border-radius: 9999px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}
.intro__button-span {
  display: inline-block; /* le transform ne fonctionne pas sans */
}
@media screen and (min-width: 750px) {
  .intro {
    box-shadow: none;
  }
}
.intro :hover {
  opacity: 0.8;
}
.intro :hover .intro__button-span {
  animation: text-slide 0.2s ease;
}

.functioning__list {
  padding: 0;
}
.functioning__item {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 1rem 0;
}
.functioning__step {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 97%);
  padding: 1.5rem;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
.functioning__icon {
  width: 40px;
  padding-left: 0.5rem;
}
.functioning__step-number {
  background: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  transform: translateX(12.5px);
}
@media screen and (min-width: 750px) {
  .functioning {
    max-width: 1200px;
    margin: 0 auto;
  }
  .functioning__title {
    padding-left: 1rem;
  }
  .functioning__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}

.restaurants {
  background: hsl(0, 0%, 97%);
}
.restaurants__item {
  margin: 1rem 0;
  border-radius: 0.8rem;
  background: white;
}
.restaurants__image {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0;
}
.restaurants__image-wrapper {
  position: relative;
}
.restaurants__sign {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background: #99E2D0;
  color: #278870;
  font-size: 0.75rem;
  padding: 0.3rem 0.8rem;
  font-weight: 500;
  border-radius: 0.2rem;
}
.restaurants__content {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 750px) {
  .restaurants {
    padding: 2rem;
  }
  .restaurants__grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .restaurants__title {
    grid-column: 1/span 2;
  }
  .restaurants__image {
    height: 300px;
  }
}

.fa-regular {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  position: relative;
}
.fa-regular .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  color: #9356DC;
}

.fa-regular:hover .fa-solid {
  visibility: visible;
}

.footer {
  background-color: #383838;
  padding: 1.5rem;
  font-weight: 400;
}
.footer__logo {
  filter: brightness(100);
  width: 100px;
}
.footer__nav {
  margin-top: 0.5rem;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}
.footer__icon {
  width: 20px;
  font-size: 0.7rem;
}
.footer__link {
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 1rem;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
  }
  .footer__list {
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  .footer__item {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */