/***** variables *****/

$first-color: #9356DC;
$second_color: #FF79DA;
$third_color: #99E2D0;
$gray: hsla(0, 0%, 92%, 1);
$light-gray: hsla(0, 0%, 97%, 1);
$gradient: linear-gradient( to top, hsla(267, 66%, 60%, 1) -11.44%, hsl(317, 100%, 74%, 1) 123.93%);
$gradient-hover: rgb(255, 255, 255);

/****** mixin *******/

@mixin text-center{
    text-align: center;
}

@mixin shadow{
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

@mixin button{
    padding: 1rem 0;
    width: 220px;
    border: none;
    border-radius: 9999px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background: $gradient;
    @include shadow;
}

@mixin flex-align{
    display: flex;
    align-items: center;
}

@mixin bounce-animation{
    animation: bounce 1.5s ease-in-out;
    animation-iteration-count: infinite;
}

/****** keyframes ******/

@keyframes loader-off{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes show-off{
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}

@keyframes text-slide{
    0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bounce{
    0%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(-2rem);
    }
    100%{
        transform: translatey(0);
    }
}

@keyframes loader{
    0%{
        transform: translateY(-10rem);
    }
    20%{
        transform: translateY(0)
    }
    70%{
        transform: translateY(0)
    }

    100%{
        transform: translateY(10rem);
    }
}

@keyframes assiette{
    0%{
        transform: translateY(-100rem);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(720deg);
    }
}

@keyframes fourchette{
    0%{
        transform: translateX(-100rem)
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes couteau{
    0%{
        transform: translateX(100rem)
    }
    100%{
        transform: translateX(0);
    }
}

/****** global *******/

html{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
}

*{
    margin: 0;
    box-sizing: border-box;
}

section{
    padding: 2rem 1rem;

    a{
        text-decoration: none;
        color: black;
    }
}

h2{
    font-size: 1.4rem
}

h3{
    font-size: 1rem;
    padding-bottom: 0.2rem
}

/***** loader ******/

.loader_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 999;
    @include flex-align;
    flex-direction: column-reverse;
    justify-content: center;
    animation: loader-off 0.1s forwards;
    animation-delay: 3s;

    .loader1{                                                       
        display: flex;
        font-size: 3rem;
        font-family: "Shrikhand";
        padding: 0.5rem;
        overflow: hidden;
        
        @for $i from 1 through 8 {
            div:nth-child(#{$i}) {             /* j'ai galerer a faire cette fonction, faire des exercices sur les fonctions scss */
                transform: translateY(-10rem);
                animation: loader #{3 - ($i - 1) * 0.2}s ease-in-out;  
                animation-delay: #{($i - 1) * 0.2}s;
            }
        }
    }

    .loader2{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 80%;
        max-width: 500px;

        img{
            width: 100%;
        }
        
        .icon1{                                     /* essayer de refaire une fonction pour les delay */
            @include bounce-animation;      
        }

        .icon2{
            @include bounce-animation;
            animation-delay: 0.3s;
        }

        .icon3{
           @include bounce-animation;
            animation-delay: 0.6s;
        }
        
        .icon4{
            @include bounce-animation;
            animation-delay: 0.9s;
        }

        .icon5{
            @include bounce-animation;
            animation-delay: 1.2s;
        }
    }

    .loader3{
        img{
            width: 70px;
        }

        .assiette{
            animation: assiette 1.5s ease-in-out,
                       rotate 1s 1.5s infinite;
        }

        .fourchette{
            animation: fourchette 2s ease-in-out;
        }

        .couteau{
            animation: couteau 2s ease-in-out;
        }
    }
}

/****** header ******/

.header {
    @include text-center;
    
    &__logo {
        width: 170px;
        margin: 1.5rem auto 1rem;
    }

    &__search{
        @include flex-align;
        justify-content: center;
        background-color: $gray;
        padding: 0.8rem 1rem;
        gap: 0.5rem;
        box-shadow: inset 0 0.7rem 0.7rem -1rem rgba(0, 0, 0, 0.5);

        &-input{
            border: none;
            background-color: transparent;
            font-size: 0.85rem;
            font-weight: 600;
            width: 150px;
            @include text-center;
        }
        
        &-input::placeholder{
        color: black;
        }

        @media screen and (min-width:750px) {
        box-shadow: none;
        }
    }
}

/**** intro section ****/

.intro{
    @include text-center;
    background: $light-gray;
    box-shadow: inset 0 1rem 1rem -1rem rgba(0, 0, 0, 0.6);

    &__title{
        padding: 0 2.5rem;
        font-size: 1.5rem;
    }

    &__text{
        margin: 1rem 0;
        padding: 0 1rem;
    }

    &__button{
        @include button;
        margin: 1rem 0;
        position: relative;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;

        &-span {
            display: inline-block; /* le transform ne fonctionne pas sans */
        }

        &:hover{
            background: linear-gradient( to top, hsla(267, 66%, 60%, 0.8) -11.44%, hsl(317, 100%, 74%, 0.8) 123.93%);
            box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5)
        }

        &:hover &-span {
            animation: text-slide 0.4s ease;   /* j'arrive pas a animer la sortie de l'hover */
        }
    }

    @media screen and (min-width:750px) {
        box-shadow: none;
    }
}

/****** functioning section *******/

.functioning {
    &__list {
        padding: 0;
    }

    &__item {
        @include flex-align;
        list-style-type: none;
        margin: 1rem 0;
    }

    &__step {
        @include flex-align;
        background-color: $light-gray;
        padding: 1.5rem;
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        @include shadow;
    }

    &__icon {
        width: 40px;
        padding-left: 0.5rem;
        color: hsla(0, 0%, 50%, 1);

        &-purple{
            color: hsla(267, 66%, 60%, 1);
            width: 40px;
            padding-left: 0.5rem;
        }
    }

    &__step-number {
        background: $first-color;
        color: white;
        height: 25px;
        width: 25px;
        border-radius: 999px;
        @include flex-align;
        justify-content: center;
        font-size: 0.7rem;
        transform: translateX(12.5px);
    }

    @media screen and (min-width:750px) {
        max-width: 1200px;
        margin: 0 auto;

        &__title {
        padding-left: 1rem;
        }

        &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        }
    }
}

/******* restaurants section ********/

.restaurants{
    background: $light-gray;

    &__item{
        margin: 1rem 0;
        border-radius: 0.8rem;
        background: white;
    }
    
    &__image{
            height: 250px;
            width: 100%;
            object-fit: cover;
            border-radius: 0.8rem 0.8rem 0 0;
    }
        
    &__image-wrapper{
        position: relative;
    }    

    &__sign{
            position: absolute;
            top: 0.7rem;
            right: 0.7rem;
            background: $third_color;
            color: darken($third_color, $amount: 40%);
            font-size: 0.75rem;
            padding: 0.3rem 0.8rem;
            font-weight: 500;
            border-radius: 0.2rem;
        }

    &__content{
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;            
    }

    &__icon{
        font-size: 1.3rem;
        padding-right: 0.5rem;
        position: relative;

        &-image{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0s linear 0.5s;    /* le visibility pour pas disparaitre instant  */
        }

        &:hover &-image{     /* j'arrive pas a faire en sorte qu'il stop le lien du container au clique sans JS */
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s, visibility 0s;
        }
    }

    @media screen and (min-width:750px) {
        padding: 2rem;

        &__grid{
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;
            column-gap: 5rem;
        }

        &__title{
                grid-column: 1 / span 2;
        }

        &__image{
            height: 300px;
        }
    }
}

/****** footer ******/

.footer{
    background-color: darken($gray, $amount: 70%);
    padding: 1.5rem;
    font-weight: 400;
    
    &__logo{
            filter: brightness(100);
            width: 100px;
    }

    &__nav{
        margin-top: 0.5rem;
    }

    &__list{
        list-style-type: none;
        padding: 0;
    }

    &__item{
        @include flex-align;
        padding: 0.25rem 0;
    }   
    
    &__icon{
        width: 20px;
        font-size: 0.7rem;
        color: white;
    }
    
    &__link{
        color: white;
        text-decoration: none;
    }

    @media screen and (min-width:750px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 1rem;
        padding: 4rem 1.5rem 1.5rem 1.5rem;

        &__list{
            padding: 0;     
            display: flex;
            gap: 1rem;
        }
        
        &__item{
            padding: 0;
        }
    }
}